/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #2a8dd4;
  --vp-c-brand-light: #0099ff;
  --vp-c-brand-dark: #0077ff;
  --vp-code-bg-color: #f8f8f8;
  --vp-code-inline-bg-color: rgba(27, 31, 35, 0.05);
}

a.button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
  text-decoration: none!important;
}

a.button.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

a.button.brand {
  border-color: var(--vp-button-brand-border);
  color: var(--vp-button-brand-text);
  background-color: var(--vp-button-brand-bg);
}

a.button.brand:hover {
  opacity: 1;
  border-color: var(--vp-button-brand-hover-border);
  color: var(--vp-button-brand-hover-text);
  background-color: var(--vp-button-brand-hover-bg);
}

.vp-doc div[class*='language-'] {
  background-color: transparent;
}

pre.shiki.github-light.vp-code-light {
  background: #f8f8f8;
  overflow: hidden;
}

.vp-doc [class*='language-'] > span.lang {
  color: var(--vp-c-text-3)
}

pre.shiki.github-dark.vp-code-dark {
  background: var(--vp-code-block-bg);
  overflow: hidden;
}

